
.carousel-container {

    max-width: 800px;
    margin: 0 auto;
    border: 2px solid rgb(3, 28, 107);
    aspect-ratio: 16/9;
    position: relative;
}

.carousel-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .7s;
}

.carousel-image-container.active {
    opacity: 1;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-btn-container {
    position: absolute;
    top: 50%;
    left: -60px;
    right: -60px;
    display: flex;
    justify-content: space-between;
}

.carousel-thumbs-container {
    display: flex;

}

.carousel-img-thumb-container {
    width: 20%;
    position: relative;
    filter: grayscale(100);
    transition: filter .3s;
}

.carousel-img-thumb-container.active {
    filter: grayscale(0);
}

.carousel-img-thumb-container:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0px solid rgb(3, 28, 107);
    opacity: 0;
    transition: opacity .3s, border-width .3s;
}

.carousel-img-thumb-container.active:after {
    opacity: 1;
    border-width: 8px;
}

.carousel-img-thumb-container img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}


.container-description{
    width: 100%;
    height: 120px;
    text-align: end;
    padding: .8rem;
    font-size: 1.2rem;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.274);
    position: absolute;
    z-index: 2; 
}